.input {
    box-sizing: border-box;
    display: flex;
    height: 2.5rem;
    padding: 0.5625rem 0.625rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;

    border: none;
    border-radius: 0.5rem;
    background: var(--lightgray);

    font-size: 14px;
}

.input::placeholder {
    color: var(--darkgray);
}