.popup__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: var(--overlay, rgba(0, 0, 0, 0.15));
}

.popup {
    display: flex;
    flex-direction: column;
    padding: 0 0 18px;
    border-radius: 0.25rem;
    background: var(--white, #FFF);
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.20);
}

.popup__header {
    display: flex;
    width: 22.5rem;
    padding: 0.875rem 0;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray, #EDEDED);
}

.popup__title {
    color: #000;
    text-align: center;

    font-family: "PT Sans Caption", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popup__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 24px;
}