* {
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --black: #000;
    --gray: #EDEDED;
    --blue: #6682CC;
    --overlay: rgba(0 0 0 / 15%);
    --lightgray: #F5F5F5;
    --green: #2ABCBC;
    --darkgray: #676767;
    --red: #F65151;
    --darkgreen: #0A97A7;
    --lightreen: #E0F3F5;

    font-family: "PT Sans", sans-serif;
}

html, body, main {
    margin: 0;
    height: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
